@import "tailwindcss";
@tailwind base;
@tailwind utilities;

/* Global Theme */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

/* Custom Utility Classes */
.primary-font {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.content-font {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.red-button {
  background-color: #d30a0a;
  font-family: content-font;
  font-size: 1.5rem;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.red-button:hover {
  background-color: #ffffff;
  color: red;
  transition: 0.1ms;
  animation-duration: 300ms;
}

.toolbar-btn {
  background-color: #f3f4f6;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #d1d5db;
}

.toolbar-btn:hover {
  background-color: #e5e7eb;
}

.tiptap-editor {
  border: 1px solid #e2e8f0;
  /* light gray */
  border-radius: 6px;
  padding: 12px;
  min-height: 150px;
  outline: none;
  box-shadow: none;
  font-size: 16px;
}

.tiptap-editor:focus-within {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.ProseMirror img {
  max-width: 400px;
  max-height: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}